#UIBase {
    position: absolute;
    top: 0px;
    left: 0px;
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    z-index: 100000;
    background-color: none;
}

.UITop {
    z-index: 1000000;
    position: absolute;
    top: 0;
    left: 0;
}

/* Battle UI */
.battleBarBottom {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.UIItem {
    position: absolute;
}